
[Unit]
Description=python instance to serve module

[Service]
User=script $USER end script
Group=www-data
WorkingDirectory=/home/script $USER end script/i40AS
Environment="PATH=/home/script $USER end script/i40AS/projectenv/bin"
ExecStart=/home/script $USER end script/i40AS/projectenv/bin/python3.5 /home/script $USER end script/i40AS/backend_start.py

[Install]
WantedBy=multi-user.target
