[Unit]
Description=python instance to serve control

[Service]
User=$USER
Group=www-data
WorkingDirectory=/home/$USER/i40AS
Environment="PATH=/home/$USER/i40AS/projectenv/bin"
ExecStart=/home/$USER/i40AS/projectenv/bin/python3.5 /home/$USER/i40AS/control_start.py

[Install]
WantedBy=multi-user.target
