[Unit]

Description= uWSGI server instance i40VS
Requires=broker+backend.service



[Service]
ExecStart=/home/s3mac/i40VS/project_env/bin/uwsgi --ini /home/s3mac/i40VS/wsgi.ini



[Install]
WantedBy=multi-user.target
