[Install]
WantedBy=multi-user.target


[Unit]
Description=uWSGI instance to serve client_flaskzmq
After=network.target

[Service]
User=$USER
Group=www-data
WorkingDirectory=/home/$USER/i40AS
Environment="PATH=/home/$USER/i40AS/projectenv/bin"
ExecStart=/home/$USER/i40AS/projectenv/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
