
[Unit]
Description=i40ASbackend

[Service]
User=USR
Group=www-data
WorkingDirectory=DIR
Environment="PATH=DIR/projectenv/bin"
ExecStart=DIR/projectenv/bin/python3.5 DIR/backend_start.py

[Install]
WantedBy=multi-user.target
