[Unit]
Description=wsgi
BindsTo=backend.service
BindsTo=frontend.service
BindsTo=control.service
BindsTo=wsgi.service

[Service]
User=USR
Group=www-data
WorkingDirectory=DIR
Environment="PATH=DIR/projectenv/bin"
ExecStart=bin/bash DIR/install/reset_log.sh

[Install]
WantedBy=multi-user.target
